body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1rem;
    text-align: center;
}

header a {
    color: #FFD700;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

header a:hover {
    color: #FFAA00;
}

.container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


button {
    padding: 0.5rem 1rem;
    background-color: #FFD700;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFAA00;
}

button:active {
    background-color: #e68900;
}

footer {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.collection-container {
    max-height: 500px; /* Set the maximum height for the container */
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add space between bullet points */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 15px;
    line-height: 1.6;
}

ul li a {
    display: block;
    margin-top: 5px;
}
